
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(0deg 3% 71% / 10%);
}

.mylogo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  margin: 58px;
  margin-left: 24px;
  font-family: Poppines, sans-serif;
  letter-spacing: 0;
}

.main-section {
  background-image: url('./image/Mobile-Main_3.png');
  background-size: cover;
  background-color: #ffff;
  background-repeat: no-repeat;
  position: absolute;
  height: 650px;
  top: 0;
  left: -34px;
}

.container {
  height: 718px;
}

.main-header {
  margin-top: 104px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}

.home-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

/* LET’S CONNECT */
.connect {
  margin-top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

/* social media icons */
.social-icons {
  margin-top: 12px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.social-section {
  margin-right: 112px;
  padding-left: 25px;
}

.cardback {
  margin: 52px auto auto 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.cardback01 {
  background-image: url('./image/Mobile-Main_3.png');
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 375px;
  height: 568px;
  border: 0 solid #dfe1e6;
  border-bottom-left-radius: 50px;
}

.cardback2 {
  margin-top: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 876px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 67px;
  margin-left: 22px;
  width: 375px;
}

.cardcontact {
  margin-top: 22px;
  background-size: 230px;
  background-position: right;
  background-image: url('./image/contact\ form\ 05.png');
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  max-width: 395px;
  border: 0 solid #bbbcc0;
  background-color: #6070ff;
  border-top-left-radius: 81px;
}

.card1 {
  width: 295px;
  height: 210px;
  border-radius: 8px;
  background-image: url('./image/Snapshoot Portfolio1 (1).png');
}

.card2 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background-image: url('./image/Snapshoot Portfolio1 (2).png');
}

.card3 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background-image: url('./image/Snapshoot Portfolio1 (3).png');
}

.card4 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background-image: url('./image/Snapshoot Portfolio1 (4).png');
}

.program1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 122px;
  padding-left: 28px;
  margin-top: 20px;
}

.works {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.prog-gap{
  gap: 10px;
}

.program-skill-html {
  width: 45px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  background-color: rgb(169 203 241 / 80%);
  text-align: center;
  gap: 20px;
  list-style: none;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  margin-top: -30px;
}

.skiljava {
  width: 89px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  background-color: rgb(169 203 241 / 80%);
  text-align: center;
  gap: 20px;
  list-style: none;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  margin-top: -31px;
}

.tonic {
  width: 295px;
  height: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 0px;
  color: #172b4d;
}

.tonic2,
.tonic3,
.tonic4 {
  width: 353px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-right: 80px;
  padding-left: 24px;
  margin: 0;
  margin-top: 26px;
}

.tonic4 {
  width: 327px;
  height: 101px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-right: 80px;
}

.contactme {
  margin-top: 103px;
  width: 327px;
  height: 56px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #f5f7fa;
  padding-right: 80px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  width: 330px;
  height: 50px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form-group2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  width: 330px;
  height: 175px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  inset: 15px 38px 15px 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.section1 {
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #344563;
}

.about {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-left: 7px;
}

.sectioncontact {
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #f6f8fa;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.back-dev {
  width: 88px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.num {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.html {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.button1 {
  padding: 20px;
  background-color: rgb(255 255 255 / 100%);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
  height: 36px;
  left: -3px;
  border: 1px solid rgb(127 140 255 / 100%);
  border-radius: 8px;
  margin-left: 44px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(85 99 233);
  margin-top: 10px;
}


.button1:hover {
  background-color: rgb(127 140 255 / 100%);
  color: rgb(255 255 255 / 100%);
  }

.buttonsee {
  margin-bottom: 28px;
}

.buttonsee2 {
  margin-top: 28px;
}

.texform {
  height: 50px;
  border-radius: 8px;
}

.texform2 {
  height: 174px;
  border-radius: 8px;
}

.works2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 37px;
  padding: 10px;
}

.works2 > div {
  background-color: rgb(80 147 223 / 80%);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.buttondir {
  margin-right: 127px;
}

.button:hover {
  background: rgb(78 145 231);
}

.aboutsection {
  margin-left: 24px;
}

.wood {
  width: 100px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  list-style: none;
  margin: 6px;

}

.connectmywork {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  font-family: Poppines, sans-serif;
  font-style: normal;
  line-height: 24px;
  padding-left: 2px;
}

.social-icons-mywork {
  margin-right: 50px;
  margin-top: 12px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.make {
  height: 66.72px;
  list-style: none;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  height: 20rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(223 13 13);
  margin-top: 1rem;
}

.line {
  margin-top: 20px;
  border-radius: none;
  background-image: "./image/Light.jpg";
  padding-top: 80px;
  padding-right: 30px;
}
